/*#########DEFAULTS###########*/

/** BODY **/
html > body {
    min-height: 100%;
    line-height: 25px;
}

body {
    line-height: 1;
    background-color: white;
    height: 100%;
    position: relative;
}

*,
::after,
::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: lato, sans-serif;
    
}

h3,
h4,
h5 {
    color: #F28B00;
}

a:hover {
    color: #F28B00;
}

.container,
.container-fluid {
    overflow: auto;
    display: block;
    position: relative;
    padding-bottom: 100px;
    font-size: 16px;
    letter-spacing: 0.5px;
}

/*##### HEADER #####*/

.liuna-ftp {
    display: block;
    margin: auto;
    height: auto;
    width: 100px;
}

.logo {
    display: block;
    height: auto;
    width: 300px;
}

.logo-box {
    display: block;
    margin: auto;
    margin: 50px;
}

.logo-img {
    min-width: 100%;
}

.navbar-nav .nav-item {
    color: white;
    font-family: Roboto;
}

.navbar {
    min-height: 100px;
    letter-spacing: 0;
}

/* HOME */

.shade-1 {
    background-color: #fcb76c;
    width: 100%;
    padding: 50px 50px;
    text-align: center;
    font-family: Roboto;
}

.shade-1 h3 {
    color: white;
}

.shade-2 {
    background-color: #9fa4a6;
    width: 100%;
    padding: 50px 50px;
    text-align: center;
    font-family: Roboto;
}

.shade-3 {
    background-color: #4c91d1;
    width: 100%;
    padding: 50px 50px;
    text-align: center;
    font-family: Roboto;
}
.shade-3 h3 {
    color: white; 
}

.jumbotron {
    margin: auto;
    background-color: white;
}

.jumbotron h3 {
    margin: auto;
    display: block;
    text-align: center;
}

.jumbotron h4 {
    margin: auto;
    display: block;
    text-align: center;
}

.section2 {
    padding: 50px;
    padding-top: 60px;
    padding-bottom: 140px;
    display: block;
    margin: auto;
}

ul.cover-list {
    padding-left: 20px;
}

.protect-tainer {
    margin-bottom: 20px;
    text-align: center;
    max-width: 100%;
}
.protect {
    border: 3px solid black;
    border-radius: 1%;

    width: 60%;
    height: auto;

    margin: auto;
    display: flex;

    padding-left: 40px;
    padding-right: 40px;
}

.Mstatement {
    padding-bottom: 110px;
    padding-top: 50px;
}

.stmnt-content {
    display: block;
    margin: auto;
    border: 1px black;
    border-radius: 40px;
    border-spacing: 100px;

}

.stmnt-content {
    font-size: 16px;
    display: block;
    margin: auto;
    text-align: center;
    margin: 0;
}

.statement-H {
    display: block;
    margin: auto;
    align-content: center;
    padding-bottom: 30px;
}

.col-img h6 {
    text-align: center;
}

.col-img img {
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    padding-top: 25px;
}

.v-card {
    display: block;
    margin: auto;
    align-content: center;
}

.Vimg {
    max-width: 100%;
    height: auto;
}

.card-container {
    display: block;
    margin: auto;
    padding: 40px;
    margin-bottom: 80px;
}

.display-4 {
    font-weight: bold;
}

/**** Calendar ****/

.cal h4 {
    margin-top: 50px;
}


.cal {
    text-align: center;
}


.cal-frame {
    max-height: 100%;
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cal > h5 {
    font-size: 20px;
}


/**** PAY DUES ****/
.dues {
    padding-top: 20px;
    padding-bottom: 120px;
}

.creditimg {
    display: block;
    max-width: 100%;
    height: auto;
}

/**** AGREEMENT ****/

.agree {
    display: block;
    margin: auto;
}

.agree .row {
    display: block;
    margin: auto;

}

.agree .row .col-sm-12 {
    display: block;
    margin: auto;
}

.agree .row h3 {
    margin-top: 40px;
    text-align: center;
}

.agreement {
    display: block;
    margin: auto;
}

.agree-links {
    display: block;
    margin: auto;
    text-align: center;
    padding-bottom: 30px;
}

.agree-links:hover {
    color: #F28B00;
}

.agree-links a {
    text-decoration: none;

}

/**** Employers ****/

span {
    font-weight: bold;
    text-align: center;
}

.employ {
    margin-top: 50px;
    margin-bottom: 50px;
}

.emp-info,
h3,
h4 {
    text-align: center;
}

.emp-info p {
    text-align: center
}

.row {
    margin: auto;
    width: 100%;
}

.col-lg-4 {
    text-align: center;
    position: relative;
    width: 100%;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 15px;
}

.col-lg-12 {
    text-align: center;
    position: relative;
    width: 100%;
    padding-right: 100px;
    padding-left: 120px;
    padding-top: 15px;
}


/**** TRAINING ****/

.train {

    display: block;
    margin: auto;

}

.train .training {
    display: block;
    margin: auto;
}

.train .row {
    margin: auto;
}

.train h4 {
    text-align: center;
    display: block;
    margin: auto;
}

.train p {
    padding-top: 20px;
    display: block;
    margin: auto;
}

.train ul {
    padding-top: 20px;
    text-align: cen display: block;
    margin: auto;
}

.train .trainingImg img {
    display: block;
    margin: auto;
    max-width: 100%;
}


.training {
    padding-top: 50px;
}

.training ul {
    padding-left: 20px;
    list-style: square;
}

.trainingImg {

    display: block;
    margin: auto;
}

.norcaltc {
    text-align: center;
    font-weight: 600;
}

/**** PHOTO GALLERY ****/
.btn:focus,
.btn:active,
button:focus,
button:active {
    outline: none !important;
    box-shadow: none !important;
}

#image-gallery .modal-footer {
    display: block;
}

.thumb {
    margin-top: 15px;
    margin-bottom: 15px;
}

.gallery {
    margin-top: 50px;
    margin-bottom: 50px;

}

.gallery > img {
    max-width: 100%;
    width: 200px;
    /* You can set the dimensions to whatever you want */
    max-height: 200px;
}

.img-fluid {
    padding-bottom: 20px;
}

/**** RESOURCES ****/

.rsrc {
    display: block;
    margin: auto;
}

.rsrc .row {
    margin: auto;
}

.rsrc .row .col-sm-6 {
    display: block;
    margin: auto;
}

.rsrc .rsrc-img {
    display: block;
    margin: auto;

}

.rsrc img {
    display: block;
    margin: auto;
    max-width: 100%;
}

.rsrc-links {
    padding-left: 50px;
    padding-top: 50px;
}


.rsrc-links ul li {
    list-style: none;
}

/**** Political Action ****/

.slide {
    padding-top: 100px;

}

.pacon {
    padding-bottom: 0px;
}

.paimg {
    max-height: ;
}

.patext {
    padding-top: 50px;
    display: block;
    margin: auto;
}

.patext2 {
    padding-top: 120px;
    display: block;
    margin: auto;
}

.sttcap {
    max-width: 100%;
    display: block;
    margin: auto;
    padding-bottom: 20px;
}

.ceo {
    text-align: center;
    display: block;
    margin: auto;
}

.elect-link {
    cursor: pointer;
    display: block;
    margin: auto;
}

.elect-link:hover {
    text-decoration: none;
    cursor: pointer;
}

.ca-elect-link {
    font-size: 15px;
    text-align: center;
}

.voteimg {
    max-height: auto;
    width: 50%;
    display: block;
    margin: auto;
    padding-bottom: 20px;
}

.vote-link {
    padding-top: 10px;
    display: block;
    margin: auto;
}

@media screen and (max-width: 680px) {
    .paimg {
        max-height: 600px;
    }

    .patext2 {
        padding-top: 10px;
    }

    .protect {
        width: 100%;
    }

    

}

/**** CONTACT US****/


.contact {
    padding-top: 50px;
    padding-bottom: 100px;
    line-height: .5;
}

.contact .paragraph {
    padding-top: 40px;
}

.contact > h5 {
    text-align: center;
}

.contact-row {
    margin: auto;
}

.contact-links > ul > li > a {
    line-height: 25px;
}

.contact-space {
    padding-bottom: 30px;
}

h6 {
    font-weight: black;
}

/* NEWSLETTER */

.newsletter {

    overflow: hidden;
}

.news-row {
    display: block;
}

.news-frame {
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;

}

@media only screen and (max-width: 600px) {
    .news-frame {
        width: 640px;
        height: 300px;
    }
}


/* ALLIES */

.allies {
    padding-top: 25px;
    padding-bottom: 150px;
}

.carousel-row {
    width: 80%;
    height: auto;
    margin: auto;
}


/**** FOOTER ****/

.footer {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
}

.foot-container {
    min-height: 100%;
}

.foot-container .row .col {
    padding-top: 20px;
}

.login {
    padding: 10px 0px 0px 20px;
}

.login a {
    color: #fff;
}

.login a:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.copyright {
    float: right;
    font-size: 12px;
    color: #fff;
    padding: 5px 20px 0px 0px;
    line-height: 1.3;
}
